/* for calculator */

#result {
    height: 200px;
    width: 80vw;
}

.calculator-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calculator-cont-child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.radio1>h3 {
    text-align: center;
    color: red;
}

.radioLabel {
    color: darkblue;
    font-weight: bold;
    font-size: 1.2rem;
}

#radioRow1>label {
    color: darkgreen;
    font-weight: bold;
    font-size: 1.3rem;
    padding-left: 1rem;
}

#radioRow2>label,
#radioRow3>label {
    color: darkred;
    font-weight: bold;
    font-size: 1.4rem;
    padding-left: 1rem;
}

#radioRow1,
#radioRow2,
#radioRow3 {
    margin-top: 2rem;
    align-self: center;
}

.result-button {
    background-color: brown;
    padding: 20px 40px;
    font-size: 140%;
    color: white;
}

.result-button:hover {
    cursor: pointer;
    transform: translate(-10px, 10px) scale(1.05);
    background-color: red;
}
.title-class {
  margin-top: 40px;
  text-align: center;
  color:darkblue;
}

/* end calculator */